body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

/*BG*/
.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.green-bg {
  height: 13vh;
  background-color: #219688;
}

.gray-bg {
  height: 87vh;
  background-color: #D7DBD7;
}

/*SIGN IN - SIGNUP FORM*/
.contact-clean {
  padding: 80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color:  #219688 !important;
  margin-top: 15px;
  color: #fff;
}

/*CONTAINER*/
.chat-cont {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: row;
  display: flex;
  position: absolute;
  z-index: 1;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 8%;
  margin-right: 8%;
  height: 96vh;
  width: 84%;
  background-color: white;
}

/*MESSAGES*/
.msg-cont-fin {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.own-msg-cont {
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
}

.own-msg-cont-l {
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 20px;
  display: flex;
}

.msg {
  background-color: #DCF6C6;
  padding: 6px 10px;
  border-radius: 4px;
}

.msg-l {
  background-color: white;
  padding: 6px 10px;
  border-radius: 4px;
  color: gray;
}

/*MSG-INPUT-CONT*/
.msg-final-input {
  width: 50%;
}

.msg-input-cont {
  flex-direction: row;
  display: flex;
  top: 92%;
  position: absolute;
  height: 8%;
  width: 100%;
  background-color: #F0F0F0;
}

.d-flex.flex-row.justify-content-around.left-icon-cont {
  justify-content: start;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fas.fa-video {
  color: #919191;
}

.msg-input {
  padding-right: 15px;
  outline: none;
  padding-left: 15px;
  background-color: white;
  width: 94%;
  border: none;
  height: 62%;
  border-radius: 30px;
}

/*MSGCONT*/
.msg-cont {
  width: 70%;
  height: 100%;
}

/*SIDEBAR*/
.sidebar {
  background-color: #EDEDED;
  width: 30%;
}

/*SIDESEARCH*/
.side-search-cont {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
}

.search-input-div {
  display: flex;
  width: 85%;
  background-color: white;
  height: 35px;
  border-radius: 30px;
  flex-direction: row;
}

#search-img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.search-input {
  border-radius: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

/*TOP-MSGCONT*/
.user-cont-msgs {
  background-color: #EDEDED;
  height: 65px;
  width: 100%;
}

.msg-cont-fin {
  height: 100%;
}

.current-user-data-cont {
  margin-left: 20px;
}

.d-flex.align-items-center.fin-user-name {
  margin-left: 10px;
}

.d-flex.flex-row.justify-content-around.right-msg-cont {
  width: 20%;
}

/*TOP CONTAINER*/
.topcontainer {
  border-right: 0.5px solid #DADADA;
  height: 65px;
  width: 100%;
}

.user-image {
  margin-left: 13px;
  margin-top: 13px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.right-topcont {
  width: 50%;
}

.top-svg {
  margin-top: 15px;
  width: 30px;
  height: 30px;
}

/*USER-CHAT-SIDEBAR*/
.user-chat-sidebar {
  cursor: pointer;
  margin-top: 3px;
  height: 60px;
  width: 100%;
  margin-bottom: 3px;
}

.d-flex.flex-row.use-conta-side {
  width: 100%;
  margin-left: 10px;
}

.user-chat-sidebar:hover {
  background-color: #ededed;
}

/*USERS*/
.user-container {
  overflow-y: scroll;
  background-color: white;
  width: 100%;
  height: 86.4%;
}

.top-sidebar-user {
  height: 50%;
  width: 100%;
}

.bottom-sidebar-user {
  width: 100%;
  height: 50%;
}

.d-flex.flex-row.use-conta-side {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.user-name {
  font-size: 16px;
}

.user-date {
  font-size: 12px;
  padding-top: 5px;
  color: gray;
}

.last-msg {
  font-size: 15px;
  color: gray;
}

.end{
  justify-content: flex-end;
}

.dor-icon{
  font-size: 20px;
    color: #919191;
    margin-top: 20px;
}


.txt-2020{
  padding-top: 7px;
  width: 100%;
  outline: none;
  border:none
}